<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="2022.7.6986" targetFramework="net48" />
  <package id="IronPdf.Native.Chrome.Windows" version="2022.7.6922" targetFramework="net48" />
  <package id="IronPdf.Slim" version="2022.7.6986" targetFramework="net48" />
</packages>