<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IronPdf" version="2022.7.6986" targetFramework="net48" />
  <package id="IronPdf.Native.Chrome.Windows" version="2022.7.6922" targetFramework="net48" />
  <package id="IronPdf.Slim" version="2022.7.6986" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net48" />
  <package id="Stripe.net" version="40.8.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
</packages>